
/* ---------------------Desigining byShahzaib---------------- */
#nameContainer{
  position:absolute;
  right: 2px;
  font-size: 20px;
  font-family: 'GFS Didot', serif;
}

#nameStyle{
  writing-mode: vertical-rl;
  letter-spacing: 10px;
}


@media (max-width:855px) {
  #nameStyle{
    writing-mode: vertical-rl;
    letter-spacing: 5px;
    font-size: 1rem;
  }
}
@media (max-width:663px) {
  #nameStyle{
    writing-mode: vertical-rl;
    letter-spacing: 5px;
    font-size: 0.7rem;
  }
}
@media (max-width:510px) {
  #nameStyle{
    display: none;
  }
}


/* --------------------Primary Heading----------------- */
#primaryHeading{
  margin: 50px 0px;
}